* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(florz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: 100vh;
    display: inline;
    justify-content: center;
    align-items: center;
    position: relative;
    align-items: center;
} 

h1 {
    
    text-align: center;
    color: black;
    margin-bottom: 20px;
    margin-top: 40px;
    text-shadow: 2px 2px 5px;

}

p {
    text-align: justify;
    color: black;
    font-weight: bold;

}